{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "ignorePatterns": ["**/*.test.ts"],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-unused-vars": [1, { "args": "after-used", "argsIgnorePattern": "^_" }],
    "prettier/prettier": "error" // Enable the 'prettier' rule
  }
}
